{% extends 'base.html' %}
{% block title %}
    <title>Soteria - Videos</title>
{% endblock %}
{% block nav_videos %}
<li class="nav-item lead active">
  <a class="nav-link" href="{% url 'videos:index' %}">Videos</a>
</li>
{% endblock %} {% block heading %}
<h1>Videos</h1>
{% endblock %} {% block content %} {% if videos_list %}
<ul class="pl-0 mt-3">
  {% for video in videos_list %}
  <div class="card w-75 ml-0 mb-4 shadow rounded">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ video.link }}" class="card-link">{{ video.title }}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ video.author }}, {{ video.pub_date }}
      </h6>
      <p class="card-text">{{ video.description }}</p>
    </div>
  </div>
  {% endfor %}
</ul>
{% else %}
<p>No videos are available.</p>
{% endif %} {% endblock %}
